{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "plugins": ["@typescript-eslint", "prettier",  "react-hooks"],
  "extends": ["airbnb", "plugin:@typescript-eslint/recommended", "prettier"],
  "rules": {
    "@typescript-eslint/indent": [2, 2],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}